<div class='admin-header'>
  <div class='span8'>
    <h1>Akismet Spam Queue</h1>
  </div>
  <div class="pull-right">
    <h4>{{model.length}} New Posts Marked as Spam</h4>
  </div>
</div>

{{#if model}}
  <div class="row">
    <table>
      <thead>
        <th>Post ID</th>
        <th>Body</th>
        <th>Permalink</th>
        <th>User Profile</th>
        <th>Actions</th>
      </thead>
      {{#each post in model}}
        <tbody>
          <td class="post-id">{{post.id}}</td>
          <td class="raw">{{post.raw}}</td>
          <td class="permalink">
            <a {{bindAttr href="post.url"}} target="_blank">{{post.topic_title}}</a>
          </td>
          <td class="permalink">
            <a {{bindAttr href="post.user_url"}} target="_blank">{{post.username}}</a>
          </td>
          <td class="queue-actions">
            <p><button class='btn btn-primary' {{action confirmSpamPost post}}><i class='fa fa-check'></i>Confirm Spam</button></p>
            <p><button class='btn' {{action allowPost post}}><i class='fa fa-thumbs-o-up'></i>Allow</button></p>
            {{#if post.user_id}}
              <p><button class='btn btn-danger' {{action deleteUser post}}><i class='fa fa-trash-o'></i>Confirm Spam & Delete User</button></p>
            {{/if}}
          </td>
        </tbody>
      {{/each}}
    </table>
  </div>
{{else}}
  <h3>spam free is the way to be :)</h3>
{{/if}}